img {
height: 300px;
width: 300px;
float: left;
}
p{
    font-size: 20px;
    font-weight: bold;
    color:white;
}
h1{
    font-size: 30px;
    color:white;  
}
h6{

    color:white ;  
}